body {
  font-size: 16px;
  color: #fff;
  background-color: #1F618D;
  font-family: 'Oxygen', sans-serif;
}

#main-content {
	padding:0px 30px;
}

#main-content h2 {
  font-family: 'Sedgwick Ave', cursive;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align:center;
  font-size: 1.75em;
}

.container {
	width:100%;
}

#header-nav {
	border-radius:0;
	border: 0px;
	/*border-bottom:2px solid #000000;*/
	background-color: #34495E;
}

.navbar-brand {
	padding-left:30px;
}

.navbar-brand h1 { /* Restaurant name */
  color: #FFFFFF;
  /*text-shadow: #2ECBF7 1px 1px 7px;*/
  font-family: 'Sedgwick Ave', cursive;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p span { 
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  font-family: 'Sedgwick Ave', cursive;		
  color: #FFFFFF;
  text-align: center;
}
#nav-list a:hover {
  background: #FFFFFF;
  color: #000000;
}

.menu_item {
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  min-height:350px;
  color: #000000;
  overflow: auto;
  padding: 5px 15px;
  clear:both;
}

.menu_item p{
	font-family: 'Oxygen', sans-serif;	
}

.menu_item a{
	font-family: 'Sedgwick Ave', cursive;	
	text-align:right;
}

.center_title {
  margin-left:auto;
  margin-right:auto;
}

.section_title {
  font-family: 'Sedgwick Ave', cursive;	
  margin-top:0px;
  padding-bottom:10px;
  font-size:1.25em;
  font-weight: bold;
  text-align: center;
  width:100px;
 }

 .navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
