 .card_number {
    font-size: 20em;
    text-align: center;
    line-height: 1.1;
    text-shadow: 2px 2px #ff0000;
    overflow: hidden;
  }

.menu_item p {
    font-family: 'Sedgwick Ave', sans-serif;
}  

.card_1 {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);  
}

.card_2 {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);  
}

.card_3 {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);  
}

.card_4 {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);  
}

.menu_item {
	overflow: hidden;
	min-height: 350px;
}     

 /* unvisited link */
a:link {
    text-decoration: none;
}

/* visited link */
a:visited {
    text-decoration: none;
}

/* mouse over link */
a:hover {
    text-decoration: none;
}

/* selected link */
a:active {
    text-decoration: none;
}