/********** Base styles **********/
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family:Helvetica, cursive, sans-serif; 
}
h1 {
  margin-bottom: 15px;
  margin-left:auto;
  margin-right: auto;
  text-align:center;
  font-size: 1.75em;
}
p {
  border: 1px solid black;
  background-color: #BCBCBC;
  width: 100%;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  color: #000000;
  overflow: auto;
  padding: 40px 5px;
  clear:both;
  }
.section_title {
  position:absolute;
  top:10px;
  right:10px;
  float:right;
  border: 1px solid black;
  padding:5px;
  font-size:1.25em;
  text-align: center;
  width:100px;
 }
.custom_title_1 {
  background-color: #CB0000;
  color: #FFFFFF;
}  
.custom_title_2 {
  background-color: #78D0FF;
  color: #111111;
}  
.custom_title_3 {
  background-color: #ABC400;
  color: #FFFFFF;
}  
/* Simple Responsive Framework. */
.row {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
/********** Large devices only (desktops) **********/
@media (min-width: 992px) {
  .large-4 {
    float: left;
    padding:10px;
    position:relative;
  }
  .large-4 {
    width: 33.33%;
  }

}
/********** Medium devices only (tablets) **********/
@media (min-width: 768px) and (max-width: 991px) {
  .medium-6, .medium-12 {
    float: left;
    padding:10px;
    position:relative;
  }
  .medium-6 {
    width: 50%;
  }
  .medium-12 {
    width: 100%;
  }
}

/********** Small devices only (phones) **********/
@media (max-width: 767px) {
  .small-12 {
    float: left;
    padding:10px;
    position:relative;
  }
  .small-12 {
    width: 100%;
  }
}